/* Setting Roboto here assumes that Google Fonts is included. */
body {
  font-family: 'Roboto Slab', serif;
}

h1{
  margin: 1rem;
  font-weight: 300;
  font-size: 3rem;
  color: rgba(255,255,255,0.8);
}
nav{
  background: rgba(0,0,0,0.4);
}

/* Photo by Björn Austmar Þórsson from Pexels */
#banner{
  background-image: url(mountain.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 300px;
  height: 50vh;
  padding-top:10vh;
}

/* this serves as a flex container to hold many individual countries */
#properties{
  display: flex;
  flex-flow: row wrap; 
  margin: 15px;
}
 
/* flex properties help data to flow well accross the layout */
.property {
  flex-grow: 1;
  flex-basis: 275px;
  justify-content: space-between;
  padding: 1rem;
   margin:15px;
}

/* A lighter font weight helps establish visual hierarchy */
.property h3 {
  font-weight: 300;
}

.property a{
  color: #fff;
  padding: 0 1rem;
  background: #7b9abe;
  text-decoration: none;
}

.property .map{
  height: 200px;
  margin: -1rem -1rem 1rem -1rem;
  background-position: 50% 50%;
}




/* adjust alignment of icons with text */
.material-icons{
  vertical-align: text-bottom;
}

.nav-item .direction{
  display:none;
}


footer {
  background: #7b9abe;
  color: #fff;  
  padding: 1rem;
}

footer p{
  margin: 0;
}

footer p a{
  color: #fff;
}

footer p a:hover{
  color: #a7bbd3;
}